@import "../../scss/base/mixins";
.info__display {
  padding: 20px;
  box-sizing: border-box;
  @include md-large() {
    overflow-y: scroll;
    padding: 15px 15px 50px 15px;
    max-height: 65%;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: white;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(54, 52, 70, 0.8);
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(54, 52, 70, 0.8);
    }
  }
}

.user__details {
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.info__row {
  margin-bottom: 10px;
  @include md-large() {
    font-size: 0.8rem;
  }
  label {
    font-weight: 500;
  }
}

.user__status {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
