@import "../../scss/base/vars";

.auth {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;

  background: linear-gradient(
      to right,
      rgba(164, 120, 159, 0.65),
      rgba(74, 84, 170, 0.65)
    ),
    url(https://source.unsplash.com/boLgiM0qwkg/1600x900) center center
      no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    vertical-align: middle;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    min-width: 350px;
    background: $color-white;
    padding: 2rem;

    &:nth-of-type(2) {
      position: relative;
      min-height: 1em;
      margin: 1em 0;
      background: #f8f8f9;
      padding: 1em 1.5em;
      line-height: 1.4285em;
      color: rgba(0, 0, 0, 0.87);
      -webkit-transition: opacity 0.1s ease, color 0.1s ease,
        background 0.1s ease, box-shadow 0.1s ease;
      transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease,
        box-shadow 0.1s ease;
      border-radius: 0.28571429rem;
      box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset, 0 0 0 0 transparent;

      a {
        color: inherit;
      }
    }
  } // main column
} // auth splash
