@import "../../scss/base/vars";

// login button
.login__btn {
  background-image: linear-gradient(to right, #a4789f, #4a54aa);
  background-color: purple;
  width: 100%;
  color: #fdfdfd;
  border-radius: 25px;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  margin: 0 0.25em 0 0;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.1s ease, background-color 0.1s ease,
    color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
  will-change: "";
  -webkit-tap-highlight-color: transparent;
}

// error state
.input__error {
  text-align: left;
  color: $color-danger;
  padding-left: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  max-width: 100%;
}

.auth__title {
  border: none;
  margin: calc(2rem - 0.14285714em) 0 1rem 1rem;
  padding: 0 0;
  line-height: 1.28571429em;
  text-transform: none;
  color: #b4bdc7;
  font-weight: 300;
  text-align: left;
}
